html {
  overflow-x: hidden;
  overflow-y: hidden;
}

nav.pt-0.breadcrumb-container.d-none.d-sm-block.d-lg-inline-block {
  margin-left: 10px;
}

div.col-12 {
  display: flex;
  align-items: center;
}
