@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700");
@import "./_01_mixins.scss";
@import "./_02_variables";
@import "./_03_core.scss";
@import "./_04_plugins.scss";
@import "./_05_views.scss";

/** your custom css code **/
/* 
html {
    background-color: $theme-color-1 !important;
}
*/

/* disable hover effect on touch devices */
html.can-touch .btn-outline-primary:hover {
  background: none;
  border-color: none;
  color: black;
}
html.can-touch .btn-outline-dark:hover {
  background: none;
  border-color: none;
  color: black;
}
html.can-touch .btn-outline-dark:active {
  background: none;
  border-color: none;
  color: black;
}
html.can-touch .rb-svg-icon:hover {
  fill: none;
}
html.can-touch .rb-svg-icon:active {
  fill: rgb(122, 122, 122);
}

html {
  overflow-y: hidden;
}
